.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: #000;
}

.App-intro {
  font-size: large;
}

.action-btn {
  background-color: #fff;
  border: 2px solid #764abc;
  border-radius: 4px;
  color: #764abc;
  font-size: .8rem;
  margin: 10px;
  padding: 8px;
}

.action-btn:hover {
  background-color: #f7f4fb;
}

.action-btn:active,
.action-btn:focus {
  background-color: #e4daf1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
